---
title: One Smart Technology - Reliable Forex Platform
description: Smart Trading Everytime
last_modified_at: 2-Aug-2019
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% include base.html %}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      itemprop="description"
      name="description"
      content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta
      property="og:image"
      content="{{ site.url }}/thumbs/{{ page.image }}"
    />
    <meta property="og:site_name" content="One Smart Technology" />
    <meta property="article:publisher" content="https://www.onesmartech.com/" />
    <meta property="article:author" content="https://www.onesmartech.com/" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta
      property="og:description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    />
    <link
      rel="icon"
      href="{{ base }}/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{ base }}/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>{{ page.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900"
      rel="stylesheet"
    />
    {% seo %}
  </head>

  <body>
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/bootstrap.min.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/jquery-ui.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/owl.carousel.min.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/owl.theme.default.min.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/owl.theme.default.min.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/jquery.fancybox.min.css"
      lazyload
    />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/css/bootstrap-datepicker.css"
      lazyload
    />
    <link rel="stylesheet" href="{{ base }}/assets/css/aos.css" lazyload />
    <link rel="stylesheet" href="{{ base }}/assets/css/style.css" lazyload />
    <link
      rel="stylesheet"
      href="{{ base }}/assets/fonts/iconfont/iconfont.css"
      lazyload
    />
    <div class="site-wrap">
      {% include i18n/en/navbar.html%}
      <div class="intro-section" id="home-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto" data-aos="fade-up">
              <h1>Smart Trading Everytime.</h1>
              <p class="mb-5">
                One Smart Technology delivers a highly reliable and easy-to-use
                platform with many useful features.
              </p>
              <!-- <p>
                <a
                  href="https://trader.onesmartech.com/registerMock"
                  class="btn btn-outline-light py-3 px-5"
                  >Get Started</a
                >
              </p> -->
            </div>
            <div
              class="col-lg-2 ml-auto"
              data-aos="fade-down-left"
              data-aos-delay="100"
            >
              <figure class="img-absolute">
                <img
                  src="{{ base }}/assets/images/landing.jpg"
                  alt="Image"
                  class="img-fluid"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section section-1" id="whyost-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 mr-auto mb-5">
              <div class="mb-5">
                <span class="section-sub-title d-block">About OST</span>
                <h2 class="section-title">
                  We Value More on Quality and not in Quantity.
                </h2>
                <p>
                  One Smart technology was established in the year 2020, with a
                  vision to become one of the most efficient and cost effective
                  FOREX turnkey service providers in the industry. We cater to a
                  variety of FOREX participants offering various solutions:
                  Company Formation, Brokerage Solution, Technology Solution.
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="image-absolute-box">
                <div class="box" data-aos="zoom-out-down">
                  <div class="icon-wrap" style="font-size:2rem;">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-guanfangbanben"></use>
                    </svg>
                  </div>
                  <h3>Reliability is the key</h3>
                  <p style="padding-right: 16px;">
                    Our goal is to provide you with the ultimate trading
                    experience. We're passionate about online trading,
                    constantly innovating and looking to improve the way our
                    clients invest in financial markets.
                  </p>
                </div>
                <img
                  src="{{ base }}/assets/images/iStock-486937322.jpg"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <span class="number">01</span>
                <div>
                  <span class="display-4 text-primary mb-4 d-inline-block">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-serviceshandiantuikuan"></use>
                    </svg>
                  </span>
                  <h3>Purpose</h3>
                  <p>
                    One Smart Technology was started with a drive to become a
                    leader in the Forex industry by providing superior services
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <span class="number">02</span>
                <div>
                  <span class="display-4 text-primary mb-4 d-inline-block">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-serviceshandiantuikuan"></use>
                    </svg>
                  </span>
                  <h3>Vision</h3>
                  <p>
                    To deliver high quality services each and every time which
                    exceed the expectations of our valued customers
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <span class="number">03</span>
                <div>
                  <span class="display-4 text-primary mb-4 d-inline-block">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-serviceshandiantuikuan"></use>
                    </svg>
                  </span>
                  <h3>Mission</h3>
                  <p>
                    To deliver customised end to end solutions by pursuing
                    business innovation and advanced technology
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section section-2" id="licence-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5">
              <span class="section-sub-title d-block">LICENSE PRODUCTS</span>
              <h2 class="section-title">Brokerage Licence</h2>
              <h4>
                Our clients choose One Smart Technology because we promise:
              </h4>
              <p>
                We understand that businesses and licensed brokerages are
                regulated and maintained within strict laws in each jurisdiction
                / government body. Being able to assure clients of consumer
                protection, reliability, and security is an advantage of high
                value.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >NFA(National Futures Association)
                  </h3>
                  <p>
                    NFA is the industrywide, self-regulatory organization for
                    the U.S. derivatives industry, providing innovative and
                    effective regulatory programs. Designated by the CFTC as a
                    registered futures association, NFA strives every day to
                    safeguard the integrity of the derivatives markets, protect
                    investors and ensure Members meet their regulatory
                    responsibilities.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(IIROC)The Investment Industry Regulatory Organization of
                    Canada
                  </h3>
                  <p>
                    The Investment Industry Regulatory Organization of Canada is
                    the national self-regulatory organization which oversees all
                    investment dealers and trading activity on debt and equity
                    marketplaces in Canada. IIROC sets high-quality regulatory
                    and investment industry standards, protects investors and
                    strengthens market integrity while maintaining efficient and
                    competitive capital markets. IIROC carries out its
                    regulatory responsibilities through setting and enforcing
                    rules regarding the proficiency, business and financial
                    conduct of dealer firms and their registered employees and
                    through setting and enforcing market integrity rules
                    regarding trading activity on Canadian equity marketplaces.
                    To fulfill our mandate as a national self-regulatory
                    organization, we must act with integrity, transparency and
                    fairness.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >FCA(Financial Conduct Authority)
                  </h3>
                  <p>
                    One Smart Technology offers you a complete package that
                    helps you to start your own FX and OTC broking company
                    during United Kingdom (via Financial Conduct Authority,
                    London). We offer a complete package that will help you in
                    every step of the way that maintains trust and utmost
                    business confidence in United Kingdom Forex Company
                    Formation. Our full package services come with all the
                    mandatory requirements that are crucial for a successful
                    registration and renewal with the FCA and compliance
                    procedure with the regulatory body.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(MAS)Monetary Authority of Singapore
                  </h3>
                  <p>
                    MAS and Accounting and Corporate Regulatory Authority
                    launched the Variable Capital Companies (VCC) framework
                    today. The VCC is a new corporate structure that can be used
                    for a wide range of investment funds.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(ASIC)Australian Securities&Investment Commission
                  </h3>
                  <p>
                    If you want to run a financial services business, you
                    generally need to be authorised under an AFS licence. An AFS
                    licence authorises you and your representatives to provide
                    financial services to clients. You provide financial
                    services if you: provide financial product advice to clients
                    for example, giving a recommendation to clients or the
                    general public about which financial product they should
                    purchase. deal in a financial product for example, buying or
                    selling shares on behalf of a client or issuing interests in
                    a managed investment scheme. make a market for a financial
                    product for example, where you regularly quote prices at
                    which people can buy or sell financial products. operate a
                    registered managed investment scheme. ASIC is also required
                    to register managed investment schemes that are offered to
                    retail clients. provide a custodial or depository service
                    for example, holding a financial product, or a beneficial
                    interest in a financial product on trust for a client or
                    provide traditional trustee company services for example,
                    preparing estate management functions. Financial products
                    include things such as shares, bonds, superannuation,
                    interests in managed investment schemes, life insurance,
                    general insurance, derivatives and margin lending
                    facilities. Depending on your circumstances, you may be
                    exempt from the requirement to hold an AFS licence or you
                    may provide financial services under a limited AFS licence.
                    You may also choose to provide financial services as an
                    authorised representative of an AFS licensee.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >FMA(Financial Markets Authority)
                  </h3>
                  <p>
                    One Smart Technology offers you a complete package for
                    setting up one of the smoothest and effective Forex licenses
                    in the industry (via Financial Services Provider, New
                    Zealand). We will help you in each and every step to ensure
                    high level of transparency during New Zealand Forex Company
                    Formation. Our package offers all the mandatory requirements
                    necessary for a successful registration with FSP, New
                    Zealand along with required compliance by Government of New
                    Zealand.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(VFSC)Vanuatu Financial Services Commission
                  </h3>
                  <p>
                    One Smart Technology offers you a complete package which
                    helps you to set up your own Forex brokerage Firm (via
                    Vanuatu Financial Service Commission). Our total solutions
                    package will help you with each & every step to maintain
                    high business integrity & trust during Vanuatu Forex Company
                    Formation. The package includes all the mandatory
                    requirements for a successful registration under the
                    regulatory jurisdiction: VFSC, Vanuatu with the necessary
                    compliance by the jurisdiction.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(CySEC) Cyprus Securities and Exchange Commission
                  </h3>
                  <p>
                    One Smart Technology offers a complete package for a Cyprus
                    based investment firm. We also help you in every step of the
                    way to ensure your business integrity during Cyprus Forex
                    Company Formation. Our full package services come with all
                    the mandatory requirements that are crucial for a successful
                    registration and renewal with the CySEC and compliance
                    procedure with the regulatory body. Cyprus is one of the
                    highly regulated governing bodies in the Forex industry. A
                    well-established and most respected jurisdiction to carry
                    out a financial business, which has very strict government
                    rules and regulation, laid by authorities of CySEC. The
                    CySEC Broker License gives you the reliability and safety
                    among the European jurisdiction. CySEC is highly stringent
                    licensing regulatory body. Without registration, the Forex
                    Company will not be regarded as a professional institution.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-10" data-aos="fade-up" data-aos-delay="">
              <div class="process p-3">
                <div>
                  <h3>
                    <span class="display-4 text-primary mb-4 d-inline-block">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                      </svg> </span
                    >(BVIFSC)British Virgin Islands Financial Services
                    Commission
                  </h3>
                  <p>
                    One Smart Technology helps you to acquire the BVI Financial
                    Services Commission License that is responsible to carry out
                    all the financial service activities that include the
                    financial service business like banking, investment
                    services, insolvency and insurance business. We will assist
                    you with every step of the way to ensure your integrity and
                    confidence during BVI Forex Company Formation. While in
                    addition to this the BVI FSC is responsible for the
                    international company formation, and investment in the
                    property in British Virgin Islands (BVI). It is also
                    responsible in issuing the FSC Broker License. These days,
                    BVI Forex Broker Licenses are great interest deals for many
                    of the Forex brokers. While in the year 2010, the BVI
                    Financial Service Commission has drafted the investment
                    business Act known as Securities and investment Business
                    Act, 2010. This act has provided a newly assessed set of
                    rules and regulations. All the business registered under BVI
                    FSC needs to abide with all their norms. Even though the new
                    FX Broker who is regulated under BVI FSC and has specific
                    laws and regulations which are relatively new for all the
                    financial activity. The regulatory body deals with several
                    investment firms that issue Forex license after many years
                    of experience in regulation of both Forex brokers and
                    investment firms.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include i18n/en/products-and-services.html%}
      <!-- {% include i18n/en/platform.html%} -->

      <div class="site-section bg-image overlay" id="contact-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <h2 class="section-title mb-3" style="color: white">
                Get in touch
              </h2>
              <p class="mb-0" style="color: white">
                Please get in touch using the details below if you have any
                questions about our service or products.
              </p>
              <p class="mb-5" style="color: white">
                You Will Receive Quote Within 24 Hrs
              </p>

              {% include i18n/en/contact_form.html %}
            </div>
          </div>
        </div>
      </div>
      {% include i18n/en/cta.html %} {% include i18n/en/footer.html%}
    </div>
    <script src="{{ base }}/assets/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base }}/assets/js/popper.min.js"></script>
    <script src="{{ base }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ base }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="{{ base }}/assets/js/jquery-ui.js"></script>
    <script src="{{ base }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ base }}/assets/js/jquery.stellar.min.js"></script>
    <script src="{{ base }}/assets/js/jquery.countdown.min.js"></script>
    <script src="{{ base }}/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base }}/assets/js/jquery.easing.1.3.js"></script>
    <script src="{{ base }}/assets/js/aos.js"></script>
    <script src="{{ base }}/assets/js/jquery.fancybox.min.js"></script>
    <script src="{{ base }}/assets/js/jquery.sticky.js"></script>
    <script>
      $(document).ready(function() {
        $("#stickyheader").sticky({ topSpacing: 0 });
      });
    </script>
    <script src="{{ base }}/assets/js/main.js"></script>
    <script src="{{ base }}/assets/fonts/iconfont/iconfont.js"></script>
  </body>

  <style>
    #contact-section {
      background-image: url("{{ base }}/assets/images/contact_bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #contact_form input {
      background: none;
      color: white;
    }

    #contact_form textarea {
      background: none;
      color: white;
    }
  </style>
</html>
