<div class="site-section section-2" id="platform-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <!--<span class="section-sub-title d-block"></span>-->
                <h2 class="section-title">Tải xuống Nền tảng</h2>
                <!--<p></p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-windows-fill"></use>
                                    </svg>
                                </span>
                        <h3>Windows</h3>
                        <a href="https://download.mql5.com/cdn/web/13014/mt4/carrickjustcapital4setup.exe">
                            <img src="{{ base }}/assets/images/badges/Microsoft_vn.svg" alt="Windows"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-apple-fill"></use>
                                    </svg>
                                </span>
                        <h3>iOS</h3>
                        <a href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?utm_source=www.metatrader4.com&utm_campaign=download">
                            <img src="{{ base }}/assets/images/badges/Apple_vn.svg" style="min-width:110%;min-height:110%;" alt="iOS"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-android-fill"></use>
                                    </svg>
                                </span>
                        <h3>Android</h3>
                        <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&hl=zh&referrer=ref_id%3d6f2ebd06%26utm_source%3dwww.metatrader4.com%26utm_campaign%3ddownload">
                            <img src="{{ base }}/assets/images/badges/Google_vn.png" style="max-width:116%;max-height:116%;" alt="Android"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-web1"></use>
                                    </svg>
                                </span>
                        <h3>Web</h3>
                        <a href="https://trade.mql5.com/trade?servers=CarrickJustCapital-RS-S4-Demo%2cCarrickJustCapital-RS-S4-Main&trade_server=CarrickJustCapital-RS-S4-Demo&demo_server=CarrickJustCapital-RS-S4-Demo&startup_mode=open_demo&lang=zh">
                            <button class="btn btn-black py-4 px-4 btn-block" style="font-size: 105%">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-Web"></use>
                                </svg>
                                Web
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>