<div class="site-section bg-light" id="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <span class="section-sub-title d-block">Phạm vi Thị trường</span>
                <h2 class="section-title">Sản phẩm và Dịch vụ</h2>
                <p></p>
            </div>
        </div>

    </div>

    <div class="owl-carousel nonloop-block-14">
        <div class="service">
            <div>
                <span class="flaticon-reload display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Hợp đồng chênh lệch (CFD)</h3>
                <p>
                    CJC Markets cung cấp một phạm vi rộng các CFD. Chúng tôi cung cấp ngoại hối, kim loại quý, chỉ số chứng khoán và dầu thô CFD. Giá của chúng tôi rất cạnh tranh, và các trader sử dụng nền tảng thân thiện và bảo mật. Nền tảng của chúng tôi cho phép giao dịch theo thời gian thực và bao gồm một phạm vi rộng các chức năng giao dịch và quản lý rủi ro.
                </p>
            </div>
        </div>


        <div class="service">
            <div>
                <span class="flaticon-download display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Môi giới cá nhân (IB)</h3>
                <p>
                    Chúng tôi chào đón các mối quan hệ kinh doanh với những người quan tâm giúp chúng tôi mở rộng quan hệ với khách hàng. Hãy trao đổi với chúng tôi ngay hôm nay về cách để trở thành một Môi giới cá nhân (IB) của CJC Markets
                </p>
            </div>
        </div>

        <div class="service">
            <div>
                <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Giải pháp Quản lý Đa Tài Khoản</h3>
                <p>CJC cung cấp một giải pháp Quản lý Đa Tài khoản (MAM) hiệu quả cao có thể được tùy biến theo nhu cầu của bạn. Với MAM này, phần quản trị sẽ được chúng tôi lo, để bạn tập trung vào việc quản lý giao dịch.
                </p>
                <a href="{{ base }}/services/multi-account-manager-solution">
                    <button class="btn btn-primary py-2 px-4 btn-block">NHẤN ĐỂ BIẾT THÊM CHI TIẾT</button>
                </a>

            </div>
        </div>
    </div>

</div>

<style scoped>
    #services-section button {
        color: #FFFFFF !important;
    }
    .owl-carousel .owl-stage {
        display: flex !important;
    }
    .owl-carousel .owl-item {
        display: flex !important;
        flex: 1 0 auto !important;
    }
</style>