---
title: One Smart Technology - Reliable Forex Platform
description: Thực thi tuyệt vời, an toàn của quỹ và nền tảng dễ sử dụng với nhiều tiện ích
last_modified_at: 2-Aug-2019
---

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    {% include base.html %}
    <link rel="icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    {% seo %}
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery-ui.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.carousel.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery.fancybox.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap-datepicker.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/aos.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/style.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/fonts/iconfont/iconfont.css" lazyload>
<div class="site-wrap">
    {% include i18n/vi/navbar.html%}

    <div class="intro-section" id="home-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 mr-auto" data-aos="fade-up">
                    <h1>Giao dịch thông minh mọi lúc</h1>
                    <p class="mb-5">
                        One Smart Technology mang đến cho khách hàng một nền tảng dễ sử dụng và đáng tin cậy với nhiều tính năng đặc biệt
                    </p>
                    <p>
                        <a href="https://trader.onesmartech.com/registerMock" class="btn btn-outline-light py-3 px-5">
                            Mở tài khoản demo
                        </a>
                    </p>

                </div>
                <div class="col-lg-2 ml-auto" data-aos="fade-down-left" data-aos-delay="100">
                    <figure class="img-absolute">
                        <img src="{{ base }}/assets/images/landing.jpg" alt="Image" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mr-auto mb-5">

                    <div class="mb-5">
                        <span class="section-sub-title d-block">Về Chúng tôi</span>
                        <h2 class="section-title">Chúng tôi coi trọng Chất Lượng hơn Số Lượng</h2>
                        <p>Chúng tôi muốn cung cấp cho khách hàng những trải nghiệm giao dịch tốt nhất.
                            Và chúng tôi không ngừng cải thiện hướng đầu tư trực tuyến cho khách hàng</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="image-absolute-box">
                        <div class="box" data-aos="zoom-out-down">
                            <div class="icon-wrap" style="font-size:2rem;">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-guanfangbanben"></use>
                                </svg>
                            </div>
                            <h3>Chúng tôi coi trọng Chất Lượng hơn Số Lượng</h3>
                            <p style="padding-right: 16px;">Chúng tôi muốn cung cấp cho khách hàng những trải nghiệm
                                giao dịch tốt nhất. Và chúng tôi không ngừng cải thiện hướng đầu tư trực tuyến cho
                                khách hàng</p>
                        </div>
                        <img src="{{ base }}/assets/images/iStock-486937322.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="site-section section-2" id="whycjc-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <span class="section-sub-title d-block">Tại sao nên chọn OST</span>
                    <h2 class="section-title">Ở One Smart Technology chúng tôi cam kết</h2>
                    <p>Một nền tảng giao dịch thân thiện và bảo mật cho phép khách hàng truy cập trực tiếp vào thị trường tài chính toàn cầu</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="process p-3">
                        <span class="number">01</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                                    </svg>
                                </span>
                            <h3>Giao dịch nhanh chóng</h3>
                            <p>
                                Chúng tôi sử dụng công nghệ hiện đại nhất cho nền tảng giao dịch. Điều này sẽ cho phép
                                khách hàng giao dịch được nhiều kiểu lệnh khác nhau, mang đến sự kiểm soát tốt hơn cho
                                khách hàng khi làm việc. Ở One Smart Technology, chúng tôi không ngừng phát triển và cải thiện
                                để mang đến cho khách hàng có những trải nghiệm giao dịch tốt nhất
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="process p-3">
                        <span class="number">02</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-cubes"></use>
                                    </svg>
                                </span>
                            <h3>Đa dạng sản phẩm giao dịch</h3>
                            <p>
                                One Smart Technology mang đến một kênh giao dịch đa dạng nhiều sản phẩm. Hiện tại, thị trường
                                ngoại hối, kim loại quý, chỉ số chứng khoán và các sản phẩm CFD là thế mạnh của chúng
                                tôi. Mang đến hơn 100 cặp tiền tệ, chỉ số chứng khoán và dầu thô cho khách hàng giao dịch.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="process p-3">
                        <span class="number">03</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-yunyingguanli"></use>
                                    </svg>
                                </span>
                            <h3>Sử dụng công nghệ hàng đầu</h3>
                            <p>
                                Nền tảng của chúng tôi có nhiều tính năng vượt trội. Khách hàng có thể tải nền tảng về
                                từ trình duyệt máy tính, các hệ điều hành từ Microsoft, iOS hay Android chúng tôi đều có
                                phiên bản hỗ trợ. One Smart Technology không ngừng cải thiện mang đến trải nghiệm tốt nhất cho
                                khách hàng.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="process p-3">
                        <span class="number">04</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-transaction1"></use>
                                    </svg>
                                </span>
                            <h3>Giao dịch NDD</h3>
                            <p>
                                Bằng giao dịch NDD, khách hàng sẽ biết được giá ngay thời điểm ấy mà không có bất kỳ sự
                                can thiệp nào. Bằng cách này khách hàng sẽ nhận được giá tốt nhất và trong thời gian ngắn nhất
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="process p-3">
                        <span class="number">05</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-transaction"></use>
                                    </svg>
                                </span>
                            <h3>Phí spread và phí chuyển giao cạnh tranh</h3>
                            <p>Ở One Smart Technology, chúng tôi mang đến cho khách hàng phí spread cạnh tranh và phí giao dịch
                                thấp, điều này sẽ mang đến nhiều lợi ích hơn cho khách hàng khi giao dịch</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="process p-3">
                        <span class="number">06</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-kefu"></use>
                                    </svg>
                                </span>
                            <h3>Dịch vụ hỗ trợ khách hàng chuyên nghiệp</h3>
                            <p>Dịch vụ khách hàng là điểm mạnh của One Smart Technology, chúng tôi có đội ngũ khách hàng chuyên
                                nghiệp và tận tâm luôn sẵn sàng phục vụ khách hàng</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include i18n/vi/products-and-services.html%}

    {% include i18n/vi/platform.html%}

    <div class="site-section" id="contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="section-title mb-3">Liên hệ với chúng tôi</h2>
                    {% include i18n/vi/contact_form.html %}
                </div>
            </div>
        </div>
    </div>

    {% include i18n/vi/cta.html %}

    {% include i18n/vi/footer.html%}


</div>
<script src="{{ base }}/assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ base }}/assets/js/popper.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ base }}/assets/js/jquery-ui.js"></script>
<script src="{{ base }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ base }}/assets/js/jquery.stellar.min.js"></script>
<script src="{{ base }}/assets/js/jquery.countdown.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base }}/assets/js/jquery.easing.1.3.js"></script>
<script src="{{ base }}/assets/js/aos.js"></script>
<script src="{{ base }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ base }}/assets/js/jquery.sticky.js"></script>
<script>
    $(document).ready(function(){
        $("#stickyheader").sticky({topSpacing:0});
    });
</script>
<script src="{{ base }}/assets/js/main.js"></script>
<script src="{{ base }}/assets/fonts/iconfont/iconfont.js"></script>

</body>

</html>
