---
title: CJC Markets - Reliable Forex Platform
description: Thực thi tuyệt vời, an toàn của quỹ và nền tảng dễ sử dụng với nhiều tiện ích
last_modified_at: 16-Jul-2019
---

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    {% include base.html %}
    <link rel="icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    {% seo %}
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery-ui.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.carousel.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery.fancybox.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap-datepicker.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/aos.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/style.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/fonts/iconfont/iconfont.css" lazyload>
<div class="site-wrap">
    {% include i18n/vi/navbar.html%}

    <div class="intro-section" id="home-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 mr-auto" data-aos="fade-up">
                    <h1>Smart Trading Everytime.</h1>
                    <p class="mb-5">Thực thi tuyệt vời, an toàn của quỹ và nền tảng dễ sử dụng với nhiều tiện ích
                    </p>
                    <p><a href="#" class="btn btn-outline-light py-3 px-5">Bắt đầu</a></p>

                </div>
                <div class="col-lg-2 ml-auto" data-aos="fade-down-left" data-aos-delay="100">
                    <figure class="img-absolute">
                        <img src="{{ base }}/assets/images/1.jpg" alt="Image" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section section-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mr-auto mb-5">

                    <div class="mb-5">
                        <span class="section-sub-title d-block">Về Chúng tôi</span>
                        <h2 class="section-title">Chúng tôi đánh giá cao hơn về chất lượng và không phải về số lượng.</h2>
                        <p>CJC Markets có giấy phép Derivatives Issuer License của Ủy ban Thị trường Tài chính (FMA). Chúng tôi đăng ký trên Financial Service Providers Register (FSPR). Số đăng ký của chúng tôi là FSP 569807. Giấy phép cho phép chúng tôi cung cấp dịch vụ cho khách hàng ở  New Zealand.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="image-absolute-box">
                        <div class="box" data-aos="zoom-out-down">
                            <div class="icon-wrap" style="font-size:2rem;">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-guanfangbanben"></use>
                                </svg>
                            </div>
                            <h3>Độ tin cậy là chìa khóa</h3>
                            <p>Chúng tôi có Giấy phép Derivatives Issuer License được chứng nhận bởi Ủy ban Thị trường Tài chính New Zealand.</p>
                        </div>
                        <img src="{{ base }}/assets/images/iStock-486937322.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="site-section section-2" id="whycjc-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <span class="section-sub-title d-block">Tại sao lại là CJC</span>
                    <h2 class="section-title">Lời hứa của chúng tôi</h2>
                    <h4>Khách hàng chọn CJC Markets vì chúng tôi cung cấp:</h4>
                    <p>Một nền tảng giao dịch thân thiện và bảo mật cho phép khách hàng truy cập trực tiếp vào thị trường tài chính toàn cầu</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="process p-3">
                        <span class="number">01</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-serviceshandiantuikuan"></use>
                                    </svg>
                                </span>
                            <h3>Thực thi Vượt trội</h3>
                            <p>Chúng tôi tận dụng công nghệ mới nhất trong nền tảng của mình. Nền tảng cho phép bạn sử dụng một phạm vi rộng các dạng lệnh khác nhau. Điều này sẽ cho bạn lợi thế kiểm soát tốt hơn các giao dịch của mình. Ở CJC, chúng tôi liên tục tìm cách cải thiện trải nghiệm giao dịch của bạn.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="process p-3">
                        <span class="number">02</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-cubes"></use>
                                    </svg>
                                </span>
                            <h3>Phạm vi các Sản phẩm Rộng</h3>
                            <p>CJC cung cấp phạm vi các sản phẩm rộng cho khách hàng. Hiện tại, ngoại hối, kim loại quý, chỉ số chứng khoán và các CFD khác là các sản phẩm phổ biến hơn của chúng tôi. Chúng tôi cung cấp hơn 100 cặp tiền tệ khác nhau và nhiều chỉ số chứng khoán phổ biến và CFD dầu thô.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="process p-3">
                        <span class="number">03</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-yunyingguanli"></use>
                                    </svg>
                                </span>
                            <h3>Nền tảng Công nghệ Mới nhất</h3>
                            <p>Nền tảng của chúng tôi bao gồm nhiều tính năng. Bạn có thể sử dụng trên máy tính bằng cách tải nền tảng về và cũng có thể sử dụng trên trình duyệt web. Nó cũng hỗ trợ cả các hệ điều hành của Microsoft và Apple và ứng dụng trên iPhone và Android. Chúng tôi phấn đấu tiếp tục nâng cấp nền tảng để cải thiện trải nghiệm giao dịch của bạn.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="process p-3">
                        <span class="number">04</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-transaction1"></use>
                                    </svg>
                                </span>
                            <h3>Giao dịch NDD</h3>
                            <p>Với việc giao dịch NDD của chúng tôi, bạn sẽ có giá ngay tức thì mà không có bất kỳ sự can thiệp nào. Điều này đảm bảo rằng bạn có giá tốt nhất và trong thời gian ngắn nhất có thể.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="process p-3">
                        <span class="number">05</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-transaction"></use>
                                    </svg>
                                </span>
                            <h3>Phí spread cạnh tranh và phí giao dịch thấp</h3>
                            <p>Ở CJC, chúng tôi luôn phấn đấu cung cấp cho bạn phí spread cạnh tranh. Khách hàng sẽ được lợi từ phí spread và phí giao dịch thấp.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="process p-3">
                        <span class="number">06</span>
                        <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-kefu"></use>
                                    </svg>
                                </span>
                            <h3>Dịch vụ Hỗ trợ khách hàng chuyên nghiệp </h3>
                            <p>Chúng tôi có một đội nhân viên ngũ giàu kinh nghiệm để hỗ trợ cho bạn tốt nhất.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include i18n/vi/products-and-services.html%}

    {% include i18n/vi/platform.html%}

    <div class="site-section" id="contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h2 class="section-title mb-3">Get in touch</h2>
                    <p class="mb-5">Please get in touch using the details below if you have any questions about our
                        service or
                        products.</p>

                    {% include i18n/vi/contact_form.html %}
                </div>
            </div>
        </div>
    </div>

    <div id="slide-in-cta" class="slide-in-cta container" style="transform: translateX(0px);">
        <svg class="icon slide-in-cta--close" aria-hidden="true" onclick="closeSlideIn()">
            <use xlink:href="#icon-close"></use>
        </svg>
        <script>
            function closeSlideIn() {
                document.getElementById('slide-in-cta').hidden=true;
            }
        </script>
        <h3 class="mb-0">Want to hear it first?</h3>
        <p>Subscribe to our newsletter to get the posts directly in your inbox.</p>
        <form action="#">
            <div class="d-flex">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Theo dõi">
            </div>
        </form>
    </div>

    {% include i18n/vi/footer.html%}


</div>
<script src="{{ base }}/assets/fonts/iconfont/iconfont.js"></script>
<script src="{{ base }}/assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ base }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ base }}/assets/js/jquery-ui.js"></script>
<script src="{{ base }}/assets/js/popper.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ base }}/assets/js/jquery.stellar.min.js"></script>
<script src="{{ base }}/assets/js/jquery.countdown.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base }}/assets/js/jquery.easing.1.3.js"></script>
<script src="{{ base }}/assets/js/aos.js"></script>
<script src="{{ base }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ base }}/assets/js/jquery.sticky.js"></script>
<script src="{{ base }}/assets/js/main.js"></script>

</body>

</html>
