<footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>About Us</h3>
                    <img src="{{ base }}/assets/images/footer_logo.png" alt="footer" width="165" height="57">
                    <p>Suite 305, Griffith Corporate Centre, Beachmont Kingstown, St.Vincent and the Grenadines</p>
                </div>

                <div class="col-md-2 ml-auto">
                    <h3>Website</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="{{ base }}/#home-section">Home</a></li>
                        <li><a href="{{ base }}/#services-section">Services</a></li>
                        <li><a href="{{ base }}/#platform-section">Platform</a></li>
                        <li><a href="{{ base }}/qna">Support</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ml-auto">
                    <h3>Links</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="{{ base }}/public/documents/CJC Markets Client Services Agreement.pdf">Client Services Agreement</a></li>
                        <li><a href="{{ base }}/public/documents/CJC Markets Co., Limited PDS.pdf">Product Disclosure Statement</a></li>
                        <li><a href="{{ base }}/public/documents/Contract Specifications.pdf">Contract Specifications</a></li>

                    </ul>
                </div>

                <div class="col-md-4 mr-auto">
                    <h3>Subscribe</h3>
                    <p>Sign up to receive newsletters on a range of CJC events and activities.</p>
                    <form method="post" action="https://formspree.io/client@cjcmarkets-svg.com">
                        <div class="d-flex mb-5">
                            <input type="text" class="form-control rounded-0" placeholder="Email">
                            <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
                        </div>
                    </form>
                </div>

            </div>
            <div class="container-fluid Footer-legal-disclaimer">
                <div class="row">
                    <p>Spread bets and CFDs are complex instruments and come with a high risk of losing money rapidly
                        due to leverage.
                        <strong>75% of retail investor accounts lose money when spread betting and/or trading CFDs
                            with this provider.</strong>
                         You should consider whether you understand how spread bets and CFDs
                        work and whether you can afford to take the high risk of losing your money.
                    </p>
                    <p>Telephone calls and online chat conversations may be recorded and monitored. Apple, iPad, and
                        iPhone are
                        trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service
                        mark of Apple
                        Inc. Android is a trademark of Google Inc. This website uses cookies to obtain information about
                        your
                        general internet usage. Removal of cookies may affect the operation of certain parts of this
                        website.
                        Learn about cookies and how to remove them. Portions of this page are reproduced from work
                        created and
                        shared by Google and used according to terms described in the <a
                                href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0
                            Attribution
                            License.</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div id="footer-nav">
                        <ul class="footer-legal">
                                          <li><a href="{{ base }}/privacy">Privacy</a></li>
                            <li>|</li>
                            <li><a href="{{ base }}/cookies">Cookies</a></li>
                            <li>|</li>
                            <li><a href="{{ base }}/contact">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-12 col-md-3 text-center">
                    <p>
                        &copy;<script>
                        document.write(new Date().getFullYear());
                    </script>
                        All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>