<div class="site-section bg-light" id="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <span class="section-sub-title d-block">Range of Markets</span>
                <h2 class="section-title">Products and Services</h2>
                <p></p>
            </div>
        </div>

    </div>

    <div class="owl-carousel nonloop-block-14">
        <div class="service">
            <div>
                <span class="flaticon-reload display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Contract for Difference (CFDs)</h3>
                <p>
                    CJC Markets offers a wide range of CFDS. We provide foreign exchange, precious metals,
                    stock index and crude oil CFDs.  Our prices are competitive, and traders make use of our
                    easy-to-use and secure trading platform. Our platform allows for real-time trading and
                    contains a wide range of trading and risk management functions.
                </p>
            </div>
        </div>


        <div class="service">
            <div>
                <span class="flaticon-download display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Introducing Brokers</h3>
                <p>
                    We welcome business relationships with those who are interested to help us
                    establish relationships with clients. Talk to us today about how to be an introducing broker of
                    CJC Markets.
                </p>
            </div>
        </div>

        <div class="service">
            <div>
                <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                <h3>Multi Account Manager Solution</h3>
                <p>CJC offers a high performance Multi Account Manager (MAM) solution that can be customised to
                    your need. With this MAM, the administrative side is taken care of by us, leaving you to
                    excel in your trade management.
                </p>
                <a href="{{ base }}/services/multi-account-manager-solution">
                    <button class="btn btn-primary py-2 px-4 btn-block">More Details</button>
                </a>

            </div>
        </div>
    </div>

</div>

<style scoped>
    #services-section button {
        color: #FFFFFF !important;
    }
    .owl-carousel .owl-stage {
        display: flex !important;
    }
    .owl-carousel .owl-item {
        display: flex !important;
        flex: 1 0 auto !important;
    }
</style>