<div class="site-section bg-light" id="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <span class="section-sub-title d-block">Range of Markets</span>
        <h2 class="section-title">IT Services</h2>
        <p></p>
      </div>
    </div>
  </div>

  <div class="owl-carousel nonloop-block-14">
    <div class="service">
      <div>
        <span
          class="flaticon-reload display-4 text-primary mb-4 d-inline-block"
        ></span>
        <h3>MT4/MT5 Forex CRM solution</h3>
        <p>
          Fully Customised & MT4/MT5 Forex CRM as per your needs With an option
          of Cloud based & Self hosted, We create one of the highly customized
          Forex CRM that helps the brokers to perform most important functions
          like.
        </p>
      </div>
    </div>

    <div class="service">
      <div>
        <span
          class="flaticon-download display-4 text-primary mb-4 d-inline-block"
        ></span>
        <h3>MT4/MT5 Forex Brokerage Solution</h3>
        <p>
          An Array of Brokerage Services to Create Suitable Trading Conditions
          for your Traders
        </p>
        <ul>
          <li>
            Broker Cloud
          </li>
          <li>
            MT4/MT5 White Label Solution
          </li>
          <li>
            Hosting Cloud MT4/MT5 Managed Service
          </li>
        </ul>
        <!-- <a href="{{ base }}/services/IB">
                    <button class="btn btn-primary py-2 px-4 btn-block">More Details</button>
                </a> -->
      </div>
    </div>

    <div class="service">
      <div>
        <span
          class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"
        ></span>
        <h3>Copytrading System/PAMM/MAMM system</h3>
        <p>
            PAMM/MAM MAM System
            A tailor-made for the broker, support one-to-many, many-to-one account management, to meet the different brokers on the trading account management of the background. On the one hand, it breaks the information barrier between investors located between different brokers, supports all brokers, realizes cloud cross-broker shouting and ordering; on the other hand, it integrates system management, documentary, MAM Multi-functional, able to meet the management needs of different brokers.
        </p>
        <a href="{{ base }}/services/multi-account-manager-solution">
          <button class="btn btn-primary py-2 px-4 btn-block">
            More Details
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<style scoped>
  #services-section button {
    color: #ffffff !important;
  }
  .owl-carousel .owl-stage {
    display: flex !important;
  }
  .owl-carousel .owl-item {
    display: flex !important;
    flex: 1 0 auto !important;
  }
</style>
