<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% include base.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemprop="description" name="description"
          content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"/>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/thumbs/{{ page.image }}"/>
    <meta property="og:site_name" content="CJC Markets">
    <meta property="article:publisher" content="https://www.cjcmarkets.com/"/>
    <meta property="article:author" content="https://www.cjcmarkets.com/"/>
    <meta property="article:published_time" content="{{ page.date }}"/>
    <meta property="og:description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ base }}/assets/images/favicon.ico" type="image/x-icon">
    <title>{{ page.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    {% seo %}
</head>

<body>
<link rel="stylesheet" href="{{ base }}/assets/fonts/icomoon/style.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery-ui.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.carousel.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/owl.theme.default.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/jquery.fancybox.min.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/bootstrap-datepicker.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/fonts/flaticon/font/flaticon.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/aos.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/css/style.css" lazyload>
<link rel="stylesheet" href="{{ base }}/assets/fonts/iconfont/iconfont.css" lazyload>
<div class="site-wrap">
    {% include i18n/en/navbar.html%}
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5">
<!--                    <span class="section-sub-title d-block"></span>-->
                    <h2 class="section-title">{{ page.title }}</h2>
                    <h4>
                        {{ page.description }}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8" id="qnaSection">
                    {{ content }}
                </div>
            </div>

        </div>

    </div>
    {% include i18n/en/footer.html%}
</div>
<script src="{{ base }}/assets/fonts/iconfont/iconfont.js"></script>
<script src="{{ base }}/assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ base }}/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="{{ base }}/assets/js/jquery-ui.js"></script>
<script src="{{ base }}/assets/js/popper.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base }}/assets/js/owl.carousel.min.js"></script>
<script src="{{ base }}/assets/js/jquery.stellar.min.js"></script>
<script src="{{ base }}/assets/js/jquery.countdown.min.js"></script>
<script src="{{ base }}/assets/js/bootstrap-datepicker.min.js"></script>
<script src="{{ base }}/assets/js/jquery.easing.1.3.js"></script>
<script src="{{ base }}/assets/js/aos.js"></script>
<script src="{{ base }}/assets/js/jquery.fancybox.min.js"></script>
<script src="{{ base }}/assets/js/jquery.sticky.js"></script>
<script src="{{ base }}/assets/js/main.js"></script>

</body>

<style scoped>
    #sticky-wrapper a {
        color: #000000;
    }

    #qnaSection h2 {
        color: #000000;
    }

    #qnaSection p {

    }
</style>


</html>