<footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>关于我们</h3>
                    <img src="{{ base }}/assets/images/footer_logo.png" alt="footer" width="165" height="57">
                    <p>Suite 305, Griffith Corporate Centre, Beachmont Kingstown, St.Vincent and the Grenadines</p>
                </div>

                <div class="col-md-2 ml-auto">
                    <h3>网页</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="{{ base }}/zh#home-section">首页</a></li>
                        <li><a href="{{ base }}/zh#services-section">产品与服务</a></li>
                        <li><a href="{{ base }}/zh#platform-section">平台下载</a></li>
                        <li><a href="{{ base }}/zh/contact">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-md-4 ml-auto">
                    <h3>Links</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="{{ base }}/public/documents/CJC Markets Client Services Agreement.pdf">客户服务协议</a></li>
                        <li><a href="{{ base }}/public/documents/CJC Markets Co., Limited PDS.pdf">产品披露声明</a></li>
                        <li><a href="{{ base }}/public/documents/Contract Specifications.pdf">产品规格</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h3>订阅</h3>
                    <p>订阅精选邮件，定期接收 CJC 最近动态。</p>
                    <form method="post" action="https://formspree.io/client@cjcmarkets-svg.com">
                        <div class="d-flex mb-5">
                            <input type="text" class="form-control rounded-0" placeholder="邮箱"  style="width: 80%;">
                            <input type="submit" class="btn btn-primary rounded-0" value="订阅">
                        </div>
                    </form>
                </div>

            </div>
            <div class="container-fluid Footer-legal-disclaimer">
                <div class="row">
                    <p><strong>风险提示</strong></p>
                    <p>保证金交易属于高风险的投资行为，利用杠杆场外交易即期外币合约属于投机性质，具有高度风险性，通常只适合于能够承担超过其保证金存款损失风险的人士。鉴于存在这些风险，客户应该在完全了解所涉交易的性质以及自身面临风险的程度后才可进行交易。场外外汇现货交易对于某些顾客并不合适。客户应该根据个人经验、投资目标、资金来源和其它相关情况仔细地考虑这类交易是否适合。您应该认真理解外汇交易伴随的风险，如果您有任何疑问，请咨询您的专业财务顾问。
                    </p>
                    <p><strong>交易免责声明</strong></p>
                    <p>CJC Markets所提供的相关资讯及其链接和其它来源的市场信息，仅作为一种资讯参考服务，CJC Markets并不推荐或认可任何来源的信息及第三方的交易分析及指导。客户应认真考虑和分析相关资讯或其它来源的信息，以便作出客观的分析和决策。请客户注意，过去的交易记录并不能作为预测未来交易结果的依据。CJC Markets建议客户在投资前要谨慎了解相关交易知识，谨慎了解经纪人和其它形式的服务商所展示的交易业绩或投资说明。CJC Markets网站所引述的任何消息、意见、研究、数据或其它信息仅仅作为客观市场评论，并不构成任何投资或交易建议。CJC Markets在此明确声明对客户直接或间接使用以上任何资源的信息所产生的交易损失或利润不承担责任。</p>
                    <p>Telephone calls and online chat conversations may be recorded and monitored. Apple, iPad, and
                        iPhone are
                        trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service
                        mark of Apple
                        Inc. Android is a trademark of Google Inc. This website uses cookies to obtain information about
                        your
                        general internet usage. Removal of cookies may affect the operation of certain parts of this
                        website.
                        Learn about cookies and how to remove them. Portions of this page are reproduced from work
                        created and
                        shared by Google and used according to terms described in the <a
                                href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons 3.0
                            Attribution
                            License.</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div id="footer-nav">
                        <ul class="footer-legal">
                            <li><a href="{{ base }}/zh/contact">联系我们</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-xs-12 col-md-3 text-center">
                    <p>
                        &copy;<script>
                        document.write(new Date().getFullYear());
                    </script>
                        保留所有权利。
                    </p>
                </div>
            </div>
        </div>
    </footer>