<div class="site-section section-2" id="platform-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <span class="section-sub-title d-block">我们的卓越平台</span>
                <h2 class="section-title">MT4 交易系统</h2>
                <p>我们强大的MT4交易系统，专为各种类型的投资者打造设计，无论您是专业的交易员和基金经理，还是刚刚入门的投资新手，都可以在人性化的平台设计中和高效顺畅的交易体验中，找到自己最佳的交易状态。</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-windows-fill"></use>
                                    </svg>
                                </span>
                        <h3>Windows</h3>
                        <a href="{{ base }}/public/platforms/windows/cjcmarketsco4setup.exe">
                            <img src="{{ base }}/assets/images/badges/Microsoft_zh.svg" alt="Windows"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-apple-fill"></use>
                                    </svg>
                                </span>
                        <h3>苹果手机</h3>
                        <a href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?utm_source=www.metatrader4.com&utm_campaign=download">
                            <img src="{{ base }}/assets/images/badges/Apple_zh.svg" style="min-width:110%;min-height:110%;" alt="iOS"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="process p-3">
                    <div>
                                <span class="display-4 text-primary mb-4 d-inline-block">
                                    <svg class="icon" aria-hidden="true">
                                        <use xlink:href="#icon-android-fill"></use>
                                    </svg>
                                </span>
                        <h3>安卓手机</h3>
                        <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&hl=zh&referrer=ref_id%3d6f2ebd06%26utm_source%3dwww.metatrader4.com%26utm_campaign%3ddownload">
                            <img src="{{ base }}/assets/images/badges/Google_zh.png" style="max-width:116%;max-height:130%;" alt="Android"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <div class="process p-3">
                    <div style="margin-top: 10rem">
                        <a href="{{ base }}/public/platforms/android/metatrader4 -2.apk" style="color: gray; text-decoration: underline;">
                            <p>或点击这里下载 APK 安装包</p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>