<div class="site-section bg-light" id="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <span class="section-sub-title d-block">丰富的交易产品</span>
                <h2 class="section-title">产品与服务</h2>
                <p></p>
            </div>
        </div>

    </div>

    <div class="owl-carousel nonloop-block-14">
        <div class="service">
            <div>
                <span class="flaticon-reload display-4 text-primary mb-4 d-inline-block"></span>
                <h3>差价合约交易</h3>
                <p>
                    One Smart Technology 为广大投资者提供四大类共几十种丰富的交易产品包括：外汇、贵金属、全球指数、原油。极具竞争力的报价及优质的交易环境，让您安坐家中放眼全球。
                </p>
            </div>
        </div>


        <div class="service">
            <div>
                <span class="flaticon-download display-4 text-primary mb-4 d-inline-block"></span>
                <h3>企业汇率避险解决方案</h3>
                <p>
                    跨国贸易企业及跨境金融机构经常会面临由于外汇汇率的不确定性而导致净现金价值发生变化的风险。 One Smart Technology 为企业及机构客户提供合理的汇率避险解决方案。帮助企业控制汇率波动风险，节省成本，锁定利润。
                </p>
            </div>
        </div>

        <div class="service">
            <div>
                <span class="flaticon-monitor display-4 text-primary mb-4 d-inline-block"></span>
                <h3>经纪商业务</h3>
                <p>不论您是机构投资者还是个人投资者，您都可以申请成为One Smart Technology的介绍经纪商。 我们将提供稳健、共赢的合作方案及专业化的技术支持。经纪商将通过介绍和发展客户，在获得交易利润的同时，获得丰厚佣金返现。
                </p>
                <a href="{{ base }}/services/multi-account-manager-solution">
                    <button class="btn btn-primary py-2 px-4 btn-block">马上联系我们了解详情</button>
                </a>

            </div>
        </div>
    </div>

</div>

<style scoped>
    #services-section button {
        color: #FFFFFF !important;
    }
    .owl-carousel .owl-stage {
        display: flex !important;
    }
    .owl-carousel .owl-item {
        display: flex !important;
        flex: 1 0 auto !important;
    }
</style>